@import "../../styles/reset.scss";
@import "../../styles/common";

//font-family: 'Oswald', sans-serif;
//font-family: 'Quattrocento', serif;
//font-family: 'Raleway', sans-serif;

.wrapper {
  width: 100%;
  //height: visible;
  overflow: scroll;
  //overflow-x: hidden;
  background-color: #ffffff;
}

.section {
  width: 100%;
  //height: 100vh;
  position: relative;
  //overflow: visible;
}

.background {
  background-image: url(../../images/backgroud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.title_container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  .title {
    font-family: "Raleway", sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #ffffff;
    transform: translateY(100%);
  }
}

.description_container {
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  .portrait_container {
    width: 30%;
    height: 70%;
    margin-right: 10%;
    .portrait {
      width: 100%;
      height: 85%;
    }
    .honours {
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      text-align: right;
      margin-top: 20px;
      span {
        font-family: "Quattrocento", serif;
      }
    }
  }
  .description {
    width: 20%;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 27px;
    span {
      font-family: "Quattrocento", serif;
    }
  }
}

.career_container {
  width: 100%;
  position: relative;

  .line {
    background-color: #d1d1d1;
    width: 1px;
    height: 100%;
    left: 50%;
    position: absolute;
  }
}

.career_right {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.career_left {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: -135px;
}

/*
.overlay_container {
  width: 100%;
  height: 100vh;
  left: 0%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}*/

.overlay {
  //left: 0%;
  width: 100%;
  overflow: hidden;
  //height: 100%;
  left: -100%;
  z-index: 10;
}

.first {
  position: absolute;
  top: 0%;
  height: 33.3%;
  background-color: $fblue;
}

.second {
  position: absolute;
  top: 33.3%;
  height: 33.3%;
  background-color: $fblue;
}
.third {
  position: absolute;
  top: 66.6%;
  height: 33.3%;
  background-color: $fblue;
}
