@import "../../styles/reset.scss";
@import "../../styles/common";

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  background-color: #ffffff;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    width: 45%;
    font-size: 190px;
    font-weight: bold;
    color: $fblue;
    text-align: center;
    opacity: 1;
  }
  .bar {
    margin-top: -3%;
    width: 45%;
    height: 15px;
    background-color: $fred;
    opacity: 0.8;
  }
}

.semicircle {
  width: 100%;
  height: 100vh;
  background-color: $fblue;
  //semicircle 그리기
  border-top-left-radius: 1000px;
  border-top-right-radius: 1000px;
}

.content {
  width: 100%;
  height: 100vh;
  background-image: url("../../images/worldcup.jpg");
  background-size: cover;
  position: relative;
}

.overlay {
  height: 100%;
  background-color: $fblue;
  width: 25%;
}

.textWrap {
  position: absolute;
  top: 30%;
  overflow: hidden;
  left: 10%;
  font-size: 150px;
  color: #ffffff;
  z-index: 99;
}

.container {
  width: 100%;
  display: flex;
  align-items: flex-end;
  .layout {
    background-color: $fblue;
    width: 25%;
    border-right: 1px solid white;
  }
  .first {
    height: 50%;
  }
  .second {
    height: 40%;
  }
  .third {
    height: 30%;
  }
  .fourth {
    height: 10%;
  }
}
